* {
    padding: 0;
    margin: 0;
  }
body {
    font-family: 'Lexend Deca', sans-serif;
}

@counter-style star {
    system: cyclic;
    symbols: "\2B50";
    suffix: " ";
  }

  .logo {
    height: 40px;
    padding: 5px 20px;
    float: left;
}



header {
    width: 100%;
    height: 50px;
    background-color: #FFD22E;
}

nav ul {
    width: 100%;
    padding-top: 10px;
    
}

nav li {
    display: inline;
    float: right;
    padding: 5px;
    margin-right: 25px;
}

a:link {
    text-decoration: none;
    color: black;
  }
  
  a:visited {
    text-decoration: none;
    color:#000
  }
  
  a:hover {
    text-decoration: underline;
    font-weight: 500;
  }
  
  a:active {
    text-decoration: underline;
    font-weight: 500;

  }

.flexContainer {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-left: 15%;
    margin-right: 15%;

}

.flexContainer img {
    height: 150px;
}

.skill-list li {
    list-style: star;
    padding-top: 0.3em;
    }

p {
    font-weight: 300;
}

ul {
    font-weight: 300;
}

h1 {
    font-size: 55px;
    text-align: center;
    font-weight: 500;
    padding: 3%;
}


 .myWork img {
     max-width: 400px;
 }

 .myWork {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(2,1fr);
    grid-template-areas: "project1 project2"
    "project3 project4";
    column-gap: 40px;
    row-gap: 50px;
    justify-content: center;
    margin-left: 15%;
    margin-right: 15%;
}

.container {
    width: 400px;
}

.h2-work {
    padding-top: 10px;
    padding-bottom: 5px;
    font-weight: 450;
}


.button {
    width: 150px;
    height: 45px;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 500;
    border: 1px solid black;
    color: #000;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 4px 4px 0px rgba(0, 0, 0, 1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    }
      
      .button:hover {
        background-color: #90AD9E;
        box-shadow: 4px 4px 0px rgba(0, 0, 0, 1);
        color: #000000;
        transform: translateY(-6px);
      }

      footer {
        left: 0;
        bottom: 0;
        width: 100%;
        /*border-top: #FFD22E solid;*/
    }

      .footerButton {
        width: 50px;
        height: 50px;
        border: 1px solid black;
        color: #000;
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 4px 4px 0px rgba(0, 0, 0, 1);
        transition: all 0.3s ease 0s;
        cursor: pointer;
        }

        .footerButton img {
            vertical-align: middle;
        }
          
          .footerButton:hover {
            background-color: #90AD9E;
            box-shadow: 4px 4px 0px rgba(0, 0, 0, 1);
            color: #000000;
            transform: translateY(-6px);
          }

        

        .footer-buttons li {
            margin: 0.5rem;
            float: right;
            list-style: none
        }

        .scroll-up {
          cursor: pointer;
          display: flex;
          justify-content: center;
        }
    
        @media only screen and (max-width: 600px) {
          .flexContainer {
              display: flex;
              flex-direction: column;
          }
          .flexChild {
              width: 100%;
              justify-content: center;
              padding-bottom: 30px;
          }

          .myWork {
            display: grid;
            grid-template-rows: 1fr 1fr 1fr 1fr;
            grid-template-columns: 1fr;
            grid-template-areas: "project1"
            "project2"
            "project3" 
            "project4";
            column-gap: 40px;
            row-gap: 50px;
            justify-content: center;
            margin-left: 15%;
            margin-right: 15%;
        }

          body {
            background-color: lightblue;
          }
        }